:root {
  --black-color: #454545;
  --orange-color: #ff6000;
  --lightOrange-color: #ffa559;
  --pink-color: #ffe6c7;
  --yellow-color: #ffd93d;
}

.menu-container {
  padding: 2rem 1rem 1rem 1rem;
}

.menu-container .title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--black-color);
}

.menu-container div.sort {
  border: 1px solid var(--lightOrange-color);
  border-radius: 10px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.menu-container .sort .nav {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  gap: 10px;
}

.menu-container .sort .nav-pills .nav-link.active,
.nav-pills .show > .-nav-link {
  background-color: var(--orange-color);
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.menu-container .nav .nav-item a {
  color: var(--orange-color);
  font-size: 1.3rem;
}

.menu-container .menu-table {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  min-height: 75vh;
  max-height: 75vh;
  overflow: auto;
  display: block;
}

.menu-table .menu-item {
  border: 1px solid var(--pink-color);
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0.5px 2px 3px gray;
  display: flex;
  padding: 12px 15px;
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
}

.menu-table .menu-item .menu-img img {
  min-height: 8rem;
  max-height: 8rem;
  min-width: 8rem;
  max-width: 8rem;
  object-fit: cover;
  border-radius: 10px;
}

.menu-table .menu-content {
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.menu-table .menu-content .menu-name {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  /* border: 1px solid red; */
}

/* .menu-table .menu-action {
  min-width: 3rem;
} */
.menu-table .menu-price {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--orange-color);
}

.menu-table .menu-action {
  display: flexbox;
  justify-content: end;
}

.menu-table .menu-action .action-button {
  margin-top: 20px;
  font-size: 1.2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: var(--yellow-color);
  transition: 0.3s all ease-in-out;
}

.menu-table .menu-action .action-button:hover {
  /* color: black; */
  background-color: var(--orange-color);
}

/* Styles for the scrollbar track */
.menu-table::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

/* Styles for the scrollbar thumb (the draggable handle) */
.menu-table::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hover styles for the scrollbar thumb */
.menu-table::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color); /* color of the thumb on hover */
}
