.order-top-container {
  /* border: 1px solid red; */
  height: 6rem;
  padding: 5px;
  margin: 5px 10px;
}

.order-top-container .order-table {
  border-radius: 23px;
  box-shadow: .5px 1px 2px  orangered;
  border: 1px solid orangered;
  display: flex;
  gap:3rem;
  height: 5rem;
  padding: .5rem 1rem;
}

.order-top-container .order-table-icon img {
  height: 4rem;
  border-radius: 25%;  
}

.order-table .order-table-content {
  /* border: 1px solid ; */
  color: orangered;

}

.order-table-content .table-no {
  /* display: flex; */
  font-weight: 600;
}

.order-table-content .selected-table-no{
  font-size: 1.7rem;
  font-weight: 900;
}







/* MENU CARD */
.menu-card {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 4rem;
}

.menu-card .menu-item{
  border-radius: 20px;
  /* height: 10rem; */
  display: flex;
  margin-bottom: 15px;
  width: 26.5rem;
  padding:10px;
  box-shadow: 1px 2px 3px gray;

}


.menu-card img.menu-card-image {
  max-width: 130px;
  min-width: 130px;
  min-height: 130px;
  max-height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-card .item-info{
  padding: 0 15px;
  width: 100%;
}

.menu-card-name {
  font-size: 18px;
  font-weight: bold;
}

.menu-card-price {
  font-size: 16px;
  color: #888;
  margin-bottom: 8px;
  display: none;
}

.menu-card-counter {
  margin-top: 1rem;
}

.menu-card-counter-button {
  border: 1px solid orangered;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  background-color: white;
  color: orangered;
  cursor: pointer;
}

.menu-card-counter-button span{
  font-size: 1.9rem;
  font-weight: 600;
}

.menu-card-counter-value {
  font-size: 1.5rem;
  /* border: 1px solid red; */
  font-weight: bold;
  width: 30px;
  text-align: center;
  display: inline-block;
  margin: 0 .3rem;
}

.menu-card-add-button {
  border: none;
  background-color: #ff9800;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.menu-card-add-button:hover {
  background-color: #f57c00;
}
