:root {
    --black-color: #454545;
    --orange-color: #ff6000;
    --lightOrange-color: #ffa559;
    --pink-color: #ffe6c7;
    --yellow-color: #ffd93d;
  }
  
  .waiter-container {
    padding: 2rem 1rem 1rem 1rem;
  }
  
  .waiter-container .title {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black-color);
  }
  
  .waiter-container .waiter-table {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1.5rem;
    min-height: 82vh  ;
    max-height: 82vh;
    overflow: auto;
    display: block;
  }
  
  .waiter-table .waiter-item{
      border: 1px solid var(--pink-color);
      margin-bottom: 1rem;
      border-radius: 10px;
      box-shadow: .5px 2px 3px gray;
      display: flex;
      padding: 12px 15px;
      width: 100%;
      min-height: 7.7rem;
      max-height: 7.7rem;
  }
  
  
  .waiter-table .waiter-content{
      width: 90%;
      padding: 0 10px;
  }
  
  .waiter-table .waiter-content .waiter-name{
      font-size: 1.3rem;
      text-align: left;
  }

  .waiter-table .waiter-content .waiter-contact{
      font-size: 1rem;
      text-align: left;
      color: var(--orange-color);
  }
  
  .waiter-table .waiter-checkbox{
      font-weight: 500;
      color: var(--orange-color);
  }
  
  .waiter-table .waiter-action{
      display: flexbox;
      justify-content: end;
  }

  .waiter-table .waiter-action input{
    margin-right:5px;
  }

  .waiter-table .waiter-action .action-button{
      margin-top: 10px;
      width: 4rem;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      background-color: var(--yellow-color);
      transition: .3s all ease-in-out;
  }
  
  .waiter-table .waiter-action .action-button:hover{
      /* color: black; */
      background-color: var(--orange-color);
  }
  
  /* Styles for the scrollbar track */
  .waiter-table::-webkit-scrollbar {
      width: 10px; /* width of the scrollbar */
      background-color: var(--pink-color); /* background color of the track */
      border-radius: 0 10px 10px 0;
    }
    
    /* Styles for the scrollbar thumb (the draggable handle) */
    .waiter-table::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 0 10px 10px 0; /* color of the thumb */
    }
    
    /* Hover styles for the scrollbar thumb */
    .waiter-table::-webkit-scrollbar-thumb:hover {
      background-color: var(--black-color); /* color of the thumb on hover */
    }
    