.home-container .home-title {
  background-color: black;
  height: 2.5rem;
  color: yellow;
}

.home-container .home-title span {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2cm;
  padding-left: 1.5rem;
}

.home-container .table-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* min-height: 82vh;
  overflow: scroll; */
  padding: 0.7rem;
  margin-bottom: 3.8rem;
}
