:root {
  --black-color: #454545;
  --orange-color: #ff6000;
  --lightOrange-color: #ffa559;
  --pink-color: #ffe6c7;
  --yellow-color: #ffd93d;
}

.waiter-container {
  padding: 0.5rem;
}

.waiter-container .title {
  font-weight: 600;
  font-size: 1.6rem;
  justify-content: center;
  text-align: center;
  color: var(--black-color);
}

.waiter-container .waiter-table {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
  margin-top: 2rem;
  height: 100%;
  overflow: auto;
  display: block;
}

.waiter-table .waiter-item {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0.5px 2px 3px gray;
  display: flex;
  padding: 0.8rem;
  width: 100%;
}

.waiter-table .waiter-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.waiter-table .waiter-content .waiter-name {
  font-size: 1.5rem;
  text-align: left;
}

.waiter-table .waiter-content .waiter-contact {
  font-size: 1rem;
  text-align: left;
  color: var(--orange-color);
}

.waiter-table .waiter-action {
  font-size: 1.2rem;
}

.waiter-table .waiter-checkbox {
  font-weight: 500;
  color: var(--orange-color);
}
.waiter-table .waiter-checkbox span {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.waiter-table .waiter-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.waiter-table .waiter-action .action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: var(--yellow-color);
  transition: 0.3s all ease-in-out;
}

.waiter-table .waiter-action .action-button:hover {
  background-color: var(--orange-color);
}
