:root {
    --black-color: #454545;
    --orange-color: #ff6000;
    --lightOrange-color: #ffa559;
    --pink-color: #ffe6c7;
    --yellow-color: #ffd93d;
  }

.table-component, .empty-table-component{
    display: inline-block;
}

.table-component button, .empty-table-component button{
    background-color: white;
    box-shadow:4px 6px 4px var(--pink-color);
    height: 6.5rem;
    width: 6.5rem;
    margin: .5rem;
    border: none;
    border: .5px groove pink;
    border-radius: 10px;
    cursor: pointer;
}


.table-component button:hover , .empty-table-component button:hover{
    background-color: rgb(255, 242, 242);
}


.empty-table-component button{
    background-color: var(--pink-color);
}


.table-component .table-top{
    height: 2rem;
}

.empty-table-component .table-top{
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap:1.9rem;
}

.empty-table-component .table-top .table-number{
    margin-left: 0;
}


.table-top .table-number{
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 50%;
    color: var(--black-color);
}

.table-top .people-icon{
    margin-top: 6px;
    display: inline-block;
    color: var(--lightOrange-color);
}



.table-component .table-middle, .empty-table-component .table-middle{
    /* border: 1px solid red; */
    height: 3rem;
    justify-content: center;
    display: flex;
    font-weight: 600;
    padding-top: .5rem;
    color: var(--orange-color);
}

.empty-table-component .table-middle {
    height: 3rem;
    font-size: .9rem;
}

.table-component .table-bottom, .empty-table-component .table-bottom{
    height: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: .7rem;
    font-weight: 550;
    color:var(--black-color)
}

