:root {
  --black-color: #454545;
  --orange-color: #ff6000;
  --lightOrange-color: #f07b3f;
  --pink-color: #ffe6c7;
  --yellow-color: #ffd93d;
}

.admin-container {
  display: grid;
  grid-template-columns: 5% 34% 1fr;
  grid-template-rows: 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-container {
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-container {
  background-color: white;
  border-radius: 15px 0 0 15px;
  box-shadow: 1px 2px 3px gray;
  overflow: auto;
}

.right-container {
  background-color: var(--light-gray);
  overflow: hidden;
}

/* Sidebar Styles */
.admin-container .left-container .sidebar {
  height: 100%;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-right: 1px solid var(--lightOrange-color);
  position: relative;
}

.admin-container .sidebar img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  /* margin-bottom: 5rem; */
  position: absolute;
  top: -8rem;
  /* right: 0; */
}

.admin-container .sidebar .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.admin-container .sidebar .nav .nav-item {
  margin: 1rem 0;
  position: relative;
}

.admin-container .sidebar .nav .nav-item.active .nav-link {
  background-color: white;
  color: var(--orange-color);
  border-radius: 10px;
  transition: all 0.1s ease;
  padding: 0.5rem;
}

.admin-container .sidebar .nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: white;
  color: var(--black-color);
  text-align: center;
  font-weight: 600;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.tool-tip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* General scrollbar styling for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--light-gray); /* Background of the scrollbar track */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orange-color); /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid var(--light-gray); /* Adds padding effect to the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color); /* Darker thumb color on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: var(--orange-color) var(--light-gray); /* Thumb and track color */
}
